Repository fsspec/jupyter-fsspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Check ruff version is aligned with the one in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix", "--exclude", "ui-tests"]
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.4
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
        exclude: \.ipynb$
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [pre-push]

Fix old data access pattern.
  src/FssTreeItemContext.ts
Due: prettier, eslint

Merge cleanup of debugging statements.
  src/FssTreeItemContext.ts
Due: prettier, eslint

document unsupported file path in config path option
  docs/index.md
Due: none

pull latest helper.py code
  jupyter_fsspec/helper.py
Due: none

fix upload handler used by Upload bytes from Helper
  jupyter_fsspec/handlers.py
Due: none

inclreate sleep between retries
  jupyter_fsspec/tests/test_client.py
Due: none

remove duplicate item in filesystems info
  jupyter_fsspec/handlers.py
Due: none

update frontend tests
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update ui-tests request url and expected response
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

add non-browser client header and check in contents handler
  jupyter_fsspec/client.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_client.py
Due: none

clean up log
  src/index.ts
Due: prettier, eslint

Extra code cleanup/signals conversion.
  src/FssFilesysItem.ts
  src/index.ts
Due: prettier, eslint

add prefix paths to remote fs
  jupyter_fsspec/file_manager.py
Due: none

carry over the skip cookie check for handlers
  jupyter_fsspec/handlers.py
Due: none

update codeblocks using kwargs and real paths
  jupyter_fsspec/handlers.py
  src/FssTreeItemContext.ts
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

optional kwargs if present
  src/FssTreeItemContext.ts
Due: prettier, eslint

update tests
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update code snippet test
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

WIP helper fix.
  jupyter_fsspec/helper.py
Due: none

Typescript refactors round 1.
  src/FssTreeItem.ts
  src/FssTreeItemContext.ts
  src/handler/fileOperations.ts
  src/index.ts
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

Refactor/code cleanup for helper.out system.
  jupyter_fsspec/helper.py
Due: none

Add debug statements.
  jupyter_fsspec/helper.py
Due: none

absolute paths: add server CLI flag and env variable check for helper
  jupyter_fsspec/__init__.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
Due: none

Update docs/index.md
  docs/index.md
Due: none

use env variable to determine absolute path acceptance
  jupyter_fsspec/helper.py
Due: none

update default flag for tests and test client
  conftest.py
  jupyter_fsspec/handlers.py
Due: none

add fsspec docs link and use absolute paths as suggested
  docs/index.md
Due: none

comment out parameterization of CLI flag for now
  conftest.py
Due: none

document warning and environment behavior
  docs/index.md
Due: none

workflow publishes to PyPI, correct name
  .github/workflows/pypi-publish.yml
Due: none

add testpypi workflow
  .github/workflows/test-pypi-publish.yml
Due: none

Bump version to 0.4.0
  package.json
Due: prettier

update docs make file
  docs/Makefile
Due: none

fix docs notes and warnings
  docs/conf.py
  docs/index.md
Due: none

fix syntax
  docs/index.md
Due: none

remove redundant note label
  docs/index.md
Due: none

add extension preview image
  README.md
  docs/_static/jupyter-fsspec.png
Due: none

fix image link
  README.md
Due: none

capture inactive filesystem error
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
Due: none
