Repository fsspec/jupyter-fsspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Check ruff version is aligned with the one in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix", "--exclude", "ui-tests"]
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.4
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
        exclude: \.ipynb$
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [pre-push]

add error and style inactive fs
  src/FssFilesysItem.ts
  style/base.css
Due: prettier, eslint, stylelint

log inactive fs error in frontend
  src/FssFilesysItem.ts
Due: prettier, eslint

add server side test
  conftest.py
  jupyter_fsspec/tests/test_api.py
Due: none

add UI test
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

handler fs_instance is none
  jupyter_fsspec/handlers.py
Due: none

display error on hover
  src/FssFilesysItem.ts
Due: prettier, eslint

add on hover error message UI tests
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

prevent backend request for inactive fs
  src/FssFilesysItem.ts
Due: prettier, eslint

add dataset fs name to fix selection bug
  src/FssFilesysItem.ts
Due: prettier, eslint

add documentation
  docs/_static/s3fs_inactive.png
  docs/index.md
Due: none

Bump version to 0.4.1
  package.json
Due: prettier

add refresh button
  src/index.ts
  style/base.css
Due: prettier, eslint, stylelint

Disable job queue, and remove example jobs
  src/index.ts
Due: prettier, eslint

specify refresh element by title
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

add bool option to invalidate cache
  jupyter_fsspec/handlers.py
  jupyter_fsspec/models.py
  src/handler/fileOperations.ts
  src/index.ts
Due: prettier, eslint

UI test for refreshing file listing
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

log refresh request intercepted
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update file size with binary prefixes
  src/FssTreeItem.ts
  src/utils.ts
Due: prettier, eslint

set directory children count once items are loaded
  src/FssTreeItem.ts
  src/index.ts
Due: prettier, eslint

use singular item for 1 item
  src/FssTreeItem.ts
Due: prettier, eslint

Add FSSpec logo SVG and integrate as icon in FSSpec widget
  package.json
  src/fsspec-logo.svg
  src/index.ts
  src/svg.d.ts
Due: prettier, eslint

restore caption to bring back tooltip
  src/index.ts
Due: prettier, eslint

fix: resolve code snippet insertion issues and improve consistency
  src/FssFilesysContextMenu.ts
  src/FssTreeItemContext.ts
Due: prettier, eslint

Add MinIO quickstart example and update documentation structure
  docs/examples/minio-quickstart.md
  docs/index.md
Due: none

update ui tests
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

feat: establish TypeScript foundations and improve core widget typing
  package.json
  src/index.ts
  src/types.ts
Due: prettier, eslint

refactor: fix filesystem click handling in FsspecWidget
  src/index.ts
Due: prettier, eslint

fix null checks
  src/FssTreeItem.ts
  src/index.ts
  src/types.ts
Due: prettier, eslint
