Repository fsspec/jupyter-fsspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

prettier:
  name: prettier
  entry: npm run prettier:files
  language: node

eslint:
  name: eslint
  entry: npm run eslint:files
  language: node

stylelint:
  name: stylelint
  entry: npm run stylelint:files
  language: node

Add sync handler base, frontend server call functions and base for backend sync handler tests
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
  src/handler/fileOperations.ts
Due: prettier, eslint

add test checks
  jupyter_fsspec/tests/test_api.py
Due: none

add robust error handling for config
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  pyproject.toml
Due: none

added more config tests, updated handler check
  .pytest.ini
  conftest.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
Due: none

make initial changes from review, remove code unnecessary and update server status codes
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
Due: none

updated handling exceptions
  jupyter_fsspec/exceptions.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
Due: none

Upload file updates (WIP).
  jupyter_fsspec/handlers.py
  src/handler/fileOperations.ts
  src/index.ts
Due: prettier, eslint

clean up exception handling
  jupyter_fsspec/handlers.py
Due: none

updated and added filesystem manager tests
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

back to info log level
  jupyter_fsspec/file_manager.py
Due: none

ROUGH/dirty file upload working.
  src/index.ts
Due: prettier, eslint

remove base handler, move validation to file manager class
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
Due: none

WIP picker updates.
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
  src/FssTreeItem.ts
  src/handler/fileOperations.ts
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

consolidate sync into upload/download handler, add pydantic schema for requests, add to tests up/downloading from root filesystems
  conftest.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/schemas.py
  jupyter_fsspec/tests/test_api.py
  src/handler/fileOperations.ts
Due: prettier, eslint

add pydantic dependency
  pyproject.toml
Due: none

updated fixture function and tests using get_filesystem
  conftest.py
  jupyter_fsspec/tests/test_api.py
Due: none

Apply suggestions from code review
  jupyter_fsspec/file_manager.py
Due: none

create and write config file into one function
  jupyter_fsspec/file_manager.py
Due: none

remove unused code
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

add node types for testing
  tsconfig.test.json
Due: prettier

revised async fs handling
  conftest.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

use pydantic model for source object access
  jupyter_fsspec/file_manager.py
Due: none

allow key error to happen
  jupyter_fsspec/file_manager.py
Due: none

Add rough/WIP file picker upload.
  jupyter_fsspec/handlers.py
  package.json
  src/handler/fileOperations.ts
  src/index.ts
  yarn.lock
Due: prettier, eslint

Fix repeat file picker missing prompt bug.
  src/index.ts
Due: prettier, eslint

update to general exception handling
  jupyter_fsspec/handlers.py
Due: none

handle permission errors
  jupyter_fsspec/handlers.py
Due: none

remove permission check and update test
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

initial pass for generated api schema
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/handlers.py
  jupyter_fsspec/models.py
  jupyter_fsspec/scripts/update_api_schema.py
Due: none

Add Jupyter File Browser MVP.
  package.json
  schema/plugin.json
  src/FssTreeItem.ts
  src/index.ts
  src/treeContext.ts
  yarn.lock
Due: prettier, eslint

update descriptions for models
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/models.py
Due: none

move all models into models.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/models.py
Due: none

update schema, add config endpoint to schema
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/models.py
  jupyter_fsspec/scripts/config_schema.py
  jupyter_fsspec/scripts/update_api_schema.py
Due: none

update schema with endpoints
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/scripts/update_api_schema.py
Due: none

remove redundant config schema script
  jupyter_fsspec/scripts/config_schema.py
Due: none

remove implicit require, redundant
  jupyter_fsspec/models.py
Due: none

update reference to validate_fs function parent
  jupyter_fsspec/file_manager.py
Due: none

temp fix: create memory root to avoid server error
  jupyter_fsspec/file_manager.py
Due: none

fix test for memory fs
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, but not: \.ipynb$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  stylelint: any of: \.css$
