Repository fsspec/jupyter-fsspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Check ruff version is aligned with the one in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix", "--exclude", "ui-tests"]
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.4
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
        exclude: \.ipynb$
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [pre-push]

another fix for memory fs test
  jupyter_fsspec/tests/unit/test_filesystem_manager.py
Due: none

improve readability of GET handler
  jupyter_fsspec/handlers.py
Due: none

more clean up
  jupyter_fsspec/handlers.py
Due: none

return data if response contains error message
  src/handler/handler.ts
Due: prettier, eslint

handler null response in frontend call
  src/index.ts
Due: prettier, eslint

Fix Lab FileBrowser upload contents fetch.
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

Remove unneeded notebook check for Jup FileBrowser->fsspec path upload.
  src/index.ts
Due: prettier, eslint

Updatge docs, change UI labels.
  docs/index.md
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

lint and add additional context needed
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

API call fix, remove old test.
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
  src/index.ts
Due: prettier, eslint

updates for base64 handling
  jupyter_fsspec/handlers.py
  jupyter_fsspec/schemas.py
  jupyter_fsspec/tests/test_api.py
  jupyter_fsspec/tests/test_end.png
  jupyter_fsspec/utils.py
  src/handler/fileOperations.ts
  src/index.ts
Due: prettier, eslint

update HelperOutput repr f-string
  jupyter_fsspec/helper.py
Due: none

fix backend call, revert dependency bump
  jupyter_fsspec/handlers.py
  package.json
  yarn.lock
Due: prettier

merge main: resolve handler import conflicts
  jupyter_fsspec/exceptions.py
  jupyter_fsspec/handlers.py
Due: none

exception handling updates
  jupyter_fsspec/handlers.py
Due: none

add exception type to response object
  jupyter_fsspec/handlers.py
Due: none

fix models import
  jupyter_fsspec/handlers.py
Due: none

update request validation, add response models, update schema
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/handlers.py
  jupyter_fsspec/models.py
  jupyter_fsspec/scripts/update_api_schema.py
Due: none

update models and schema wording
  jupyter_fsspec/api_schema.yml
  jupyter_fsspec/models.py
  jupyter_fsspec/scripts/update_api_schema.py
Due: none

add redoc generated static html api documentation
  jupyter_fsspec/api-static.html
Due: none

Initial working context refactor (WIP).
  src/FssFilesysContextMenu.ts
  src/FssFilesysItem.ts
Due: prettier, eslint

Renaming.
  src/FssTreeItem.ts
  src/FssTreeItemContext.ts
Due: prettier, eslint

remove unused patch handler and tests
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
Due: none

WIP separate upload calls.
  src/FssTreeItem.ts
  src/FssTreeItemContext.ts
  src/index.ts
Due: prettier, eslint

Split upload calls.
  src/FssTreeItem.ts
  src/index.ts
Due: prettier, eslint

add upload tests for jupyterlab file browser and native file browser
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update test file count
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

Upload cleanup, refactors/renaming.
  src/index.ts
Due: prettier, eslint

fix jupyterlab filebrowser upload test and add upload bytes from helper test
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

add missing auth decorators
  jupyter_fsspec/handlers.py
Due: none

log console output and wait for dialog
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update dialog check and selector, remove request logs
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

add check for send bytes to helper option
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

Update src/FssTreeItem.ts
  src/FssTreeItem.ts
Due: prettier, eslint

Upload refactors (#110)
  src/FssTreeItem.ts
  src/FssTreeItemContext.ts
  src/index.ts
Due: prettier, eslint
