Repository fsspec/jupyter-fsspec: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylelint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  # Check ruff version is aligned with the one in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: ["--fix", "--exclude", "ui-tests"]
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.4
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:files'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
        exclude: \.ipynb$
      - id: eslint
        name: eslint
        entry: 'npm run eslint:files'
        language: node
        types_or: [ts, tsx, javascript, jsx]
      - id: stylelint
        name: stylelint
        entry: 'npm run stylelint:files'
        language: node
        types: [css]
      - id: integrity
        name: integrity
        entry: 'npm run integrity --force'
        language: node
        stages: [pre-push]

update log level settings to debug
  jupyter_fsspec/file_manager.py
Due: none

sync project version; use dynamic versioning
  package.json
  pyproject.toml
Due: prettier

build status badge, requirements, install and uninstall steps in readme, add contributing file
  CONTRIBUTING.md
  README.md
Due: none

align git commit hooks with jlpm lint
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

update author and use non-existant email
  .copier-answers.yml
  package.json
Due: prettier

remove email from package.json
  package.json
Due: prettier

ui test when no filesystems present
  ui-tests/tests/filesystem_interaction.test.ts
  ui-tests/yarn.lock
Due: prettier, eslint

configured server and frontend tests
  ui-tests/jupyter_server_test_config.py
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update comparison function and use first item
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update selectors
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

update extension type
  .copier-answers.yml
Due: none

attempt to resolve locale error locally
  .github/workflows/build.yml
Due: none

update bild workflow and test dependencies for server extension
  .github/workflows/build.yml
  jupyter_fsspec/tests/__init__.py
  pyproject.toml
Due: none

inital copy with open code block
  src/FssFilesysItem.ts
  src/FssTreeItem.ts
  src/index.ts
  src/treeContext.ts
  style/base.css
Due: prettier, eslint, stylelint

add tests for copy open with code block
  ui-tests/tests/filesystem_interaction.test.ts
Due: prettier, eslint

separate copy and clipboard logic
  src/treeContext.ts
Due: prettier, eslint

remove unnecessary class variable logic
  src/treeContext.ts
Due: prettier, eslint

self release workflows starting with TestPyPI
  .github/workflows/pypi-publish.yml
  .github/workflows/setup-bump-version.yml
Due: none

separate manually triggered workflows
  .github/workflows/bump-version.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/setup-bump-version.yml
Due: none

add setup and build steps
  .github/workflows/pypi-publish.yml
Due: none

fix syntax and update to new env
  .github/workflows/bump-version.yml
Due: none

add github identity and ensure hatch version update
  .github/workflows/bump-version.yml
Due: none

use pypi
  .github/workflows/pypi-publish.yml
Due: none

remove env to avoid deployment categorization
  .github/workflows/bump-version.yml
Due: none

Run linting.
  src/FssTreeItem.ts
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

Run CI checks.
  jupyter_fsspec/__init__.py
  jupyter_fsspec/helper.py
Due: none

Updated get_bytes functionality, prepare for file uploads.
  jupyter_fsspec/helper.py
  src/FssTreeItem.ts
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

Add data length printout.
  jupyter_fsspec/helper.py
Due: none

Add data len separator.
  jupyter_fsspec/helper.py
Due: none

First WIP data transfer from kernel to browser.
  jupyter_fsspec/helper.py
  src/FssTreeItem.ts
  src/index.ts
  src/treeContext.ts
Due: prettier, eslint

WIP, debug prints the actual value.
  src/index.ts
Due: prettier, eslint

WIP user_bytes upload, changes TODO.
  src/index.ts
Due: prettier, eslint

update file upload/download handlers
  conftest.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
  src/handler/fileOperations.ts
Due: prettier, eslint

Add input popup, WIP.
  src/fileUploadContextPopup.ts
  src/index.ts
  style/base.css
Due: prettier, eslint, stylelint

fix tests for upload and download, update handler
  conftest.py
  jupyter_fsspec/file_manager.py
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
Due: none

update naming in handler and tests
  jupyter_fsspec/handlers.py
  jupyter_fsspec/tests/test_api.py
Due: none

Add skeleton job queue.
  jupyter_fsspec/helper.py
  src/FssTreeItem.ts
  src/fileUploadContextPopup.ts
  src/index.ts
  style/base.css
Due: prettier, eslint, stylelint

Refine job queue UI.
  src/index.ts
  style/base.css
Due: prettier, eslint, stylelint

UI updates.
  src/index.ts
  style/base.css
Due: prettier, eslint, stylelint
